<% if params[:language_id] && params[:id] %>
    <% @language = Language.find(params[:language_id])%>
    <% @phoneme = Phoneme.find(params[:id])%>
<% elsif params[:language_id] %>
    <% @language = Language.find(params[:language_id]) %>
    <% @phoneme = @language.phonemes.build %>
<% elsif params[:id] %>
    <% @language = Language.find(params[:id]) %>
    <% @phoneme = @language.phonemes.build %>
<% end %>

<%= form_with model: [ @language, @phoneme] do |form| %>
    <p>
        <%= form.label :english_word %><br>
        <%= form.text_field :english_word %>
    </p>
    <p>
        <%= form.label :language_word %><br>
        <%= form.text_field :language_word %>
    </p>
    <% @language.errors.full_messages.each do |message| %>
        <div><p><%= message %></p></div>
    <% end %>
    <p>
        <%= form.submit %>
    </p>
<% end %>