<h1>Phonemes#index</h1>
<p id="notice"><%= notice %></p>

<h1>Phonemes</h1>

<table>
  <thead>
    <tr>
      <th>English</th>
      <th>Conlang</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phonemes.all.each do |word| %>
      <tr>
        <td><%= word.english_word %></td>
        <td><%= word.language_word %></td>
        <td><%= word.language.language_name %></td>
        <td><%= link_to 'Show Language', [@language] %></td>
        <td><%= link_to 'Edit Phoneme', edit_language_phoneme_path(@language, word) %></td>
        <td><%= link_to 'Destroy Phoneme', [@language, word], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_language_phoneme_path(language_id: @langauge.id) %>

