<p id="notice"><%= notice %></p>

<p>
  <strong>English:</strong>
  <%= @phoneme.english_word %>
</p>

<p>
  <strong>Conlang:</strong>
  <%= @phoneme.language_word %>
</p>

<p>
  <strong>Language:</strong>
  <%= @phoneme.language.language_name %>
</p>

<%= link_to 'Edit', edit_language_phoneme_path(@language, @phoneme) %> |
<%= link_to 'Back', language_path(@language) %> |
<%= link_to 'Delete', [@language, @phoneme], method: :delete, data: { confirm: 'Are you sure?' } %>