<%= form_with model: @language do |form| %>
  <div>
    <%= form.label :language_name %><br>
    <%= form.text_field :language_name %>
    <% @language.errors.full_messages_for(:language_name).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :homophone_percent %><br>
    <%= form.text_field :homophone_percent %> %
    <% @language.errors.full_messages_for(:homophone_percent).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>